<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="nome">Nome</label>
                    <input type="text"
                        formControlName="nome"
                        [ngClass]="verificarValidTouched('nome') ? 'form-control is-invalid' : 'form-control'"
                    class="form-control" id="nome" placeholder="Nome" name="nome" required>
                    <app-campo-control-erro [mostrarErro]="verificarValidTouched('nome', 'required')" msgErro="Nome é obrigatório" [erroNaoRequired]="true" ></app-campo-control-erro>
                </div>

                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    <input type="email" 
                        [ngClass]="verificarValidTouched('email') ? 'form-control is-invalid' : 'form-control'"
                        formControlName="email"
                        id="email" placeholder="nome@email.com" name="email" required email>
                    <app-campo-control-erro [mostrarErro]="verificarValidTouched('email', 'required')" msgErro="E-mail é obrigatório" [erroNaoRequired]="true" ></app-campo-control-erro>
                    <app-campo-control-erro [mostrarErro]="verificarValidTouched('email', 'email')" msgErro="E-mail é inválido" [erroNaoRequired]="false" ></app-campo-control-erro>
                </div>
            </div>


            <div formGroupName="endereco">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="cep">CEP</label> 
                        <input type="text"
                            [ngClass]="verificarValidTouched('endereco.cep') ? 'form-control is-invalid' : 'form-control'"
                            formControlName="cep"
                            id="cep" placeholder="cep" (blur)="consultaCEP()" >
                        <app-campo-control-erro [mostrarErro]="verificarValidTouched('endereco.cep', 'required')" [msgErro]="'CEP é inválido'" [erroNaoRequired]="true" ></app-campo-control-erro>
                    </div>
                
                    <div class="form-group col-md-4">
                        <label for="numero">Número</label>
                        <input type="text" 
                            [ngClass]="verificarValidTouched('endereco.numero') ? 'form-control is-invalid' : 'form-control'"
                            formControlName="numero"
                            id="numero" placeholder="numero">
                        <app-campo-control-erro [mostrarErro]="verificarValidTouched('endereco.numero', 'required')" [msgErro]="'Número é inválido'" [erroNaoRequired]="true" ></app-campo-control-erro>
                    </div>
                
                    <div class="form-group col-md-4">
                        <label for="complemento">Complemento</label>
                        <input type="text" 
                            [ngClass]="verificarValidTouched('endereco.complemento') ? 'form-control is-invalid' : 'form-control'"
                            formControlName="complemento"
                            id="complemento" placeholder="complemento">
                        <app-campo-control-erro [mostrarErro]="verificarValidTouched('endereco.complemento', 'required')" [msgErro]="'Complemento é inválido'" [erroNaoRequired]="true" ></app-campo-control-erro>
                    </div>
                </div>
            
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="rua">Rua</label>
                        <input type="text"
                            formControlName="rua"
                            [ngClass]="verificarValidTouched('endereco.rua') ? 'form-control is-invalid' : 'form-control'"
                            id="rua" placeholder="rua">
                        <app-campo-control-erro [mostrarErro]="verificarValidTouched('endereco.rua', 'required')" [msgErro]="'Rua é inválido'" [erroNaoRequired]="true" ></app-campo-control-erro>
                    </div>                
                </div>
            
                <div class="row">
                    <div class="form-group col-md-5">
                        <label for="bairro">Bairro</label>
                        <input type="text"
                            [ngClass]="verificarValidTouched('endereco.bairro') ? 'form-control is-invalid' : 'form-control'"
                            formControlName="bairro"
                            id="bairro" placeholder="bairro">
                        <app-campo-control-erro [mostrarErro]="verificarValidTouched('endereco.bairro', 'required')" [msgErro]="'Bairro é inválido'" [erroNaoRequired]="true" ></app-campo-control-erro>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="cidade">Cidade</label>
                        <input type="text"
                            [ngClass]="verificarValidTouched('endereco.cidade') ? 'form-control is-invalid' : 'form-control'"
                            formControlName="cidade"
                            id="cidade" placeholder="cidade">
                        <app-campo-control-erro [mostrarErro]="verificarValidTouched('endereco.cidade', 'required')" [msgErro]="'Bairro é inválido'" [erroNaoRequired]="true" ></app-campo-control-erro>
                    </div>
                
                    <div class="form-group col-md-3">
                        <label for="estado">Estado</label>
                        <input type="text"
                            [ngClass]="verificarValidTouched('endereco.estado') ? 'form-control is-invalid' : 'form-control'"
                            formControlName="estado"
                            id="estado" placeholder="estado" name="estado">
                        <app-campo-control-erro [mostrarErro]="verificarValidTouched('endereco.estado', 'required')" [msgErro]="'Estado é inválido'" [erroNaoRequired]="true" ></app-campo-control-erro>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-12 button-group">
                    <button type="submit" class="col-md-5 btn btn-primary">
                        Submit
                    </button>
        
                    <button type="button" class="col-md-5 btn btn-secondary" (click)="resetarFormulario()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>

        <app-form-debug [form]="formulario"></app-form-debug>
    </form>
</div>